<section id="about" class="about">
  <h2 class="font-bold">About Me</h2>
  <p>
    Hi, I'm Kanishk Mangal — a passionate Full Stack Web Developement. 
    I love building clean, scalable, and interactive web applications that deliver exceptional user experiences.
    With a strong foundation in front-end and back-end technologies, I enjoy turning ideas into reality through code.
    Beyond coding, I'm always exploring new tools, contributing to open-source projects, and keeping up with
    the latest trends in technology.
  </p>
</section>
