<section id="hero" class="hero">
  
  <div class="hero-content">
    <h1 class="mb-4">
      Hi, I'm <span class="highlight">Kanishk Mangal</span>
    </h1>
    <p class="mb-4">
      A passionate Full Stack Web Developer.<br>
      I love creating interactive, scalable, and user-friendly applications.
    </p>
    <a href="#projects" class="btn-primary">View My Work</a>
    <!-- <a href="Kanishk CV.pdf" class="btn-primary ml-5">Resume</a> -->
  </div>
  
</section>
<div class="flex justify-center flex-col px-24">
  <app-about-me></app-about-me>
  <app-skills> </app-skills>
  <app-projects />
  <app-contact-me class="mb-4" />
</div>
